@import "tailwindcss";

@theme {
    --color-secondary-0: #fff;
    --color-secondary-100: #f8f8f8;
    --color-secondary-200: #e8f6f4;
    --color-secondary-300: #d6f3f0;
    --color-secondary-400: #c1efeb;
    --color-secondary-500: #a9ebe5;
    --color-secondary-600: #8be6df;
    --color-secondary-700: #64e1d8;
    --color-secondary-800: #0cdad1;
    --color-secondary-900: #00d3c8;
    --color-secondary-1000: #00cabf;
    --color-secondary-1100: #00c0b5;
    --color-secondary-1200: #00b5ab;
    --color-secondary-1300: #00a9a0;
    --color-secondary-1400: #009b95;
    --color-secondary-1500: #008681;
    --color-secondary-1600: #00726d;
    --color-secondary-1700: #00605c;
    --color-secondary-1800: #00504c;
    --color-secondary-1900: #00413d;
    --color-secondary-2000: #003431;
    --color-secondary-2100: #002926;
    --color-secondary-2200: #001f1d;
    --color-secondary-2300: #001614;
    --color-secondary-2400: #000f0d;
    --color-secondary-2500: #000807;
    --color-secondary-2600: #000404;
    --color-secondary-2700: #020202;
    --color-primary-0: #fff;
    --color-primary-100: #f8f8f8;
    --color-primary-200: #ecefdb;
    --color-primary-300: #e0e6be;
    --color-primary-400: #d5dd9f;
    --color-primary-500: #cad37f;
    --color-primary-600: #bfc95c;
    --color-primary-700: #b4bf2a;
    --color-primary-800: #aab500;
    --color-primary-900: #a0ab00;
    --color-primary-1000: #97a000;
    --color-primary-1100: #8e9500;
    --color-primary-1200: #858a00;
    --color-primary-1300: #7c7f00;
    --color-primary-1400: #747400;
    --color-primary-1500: #696900;
    --color-primary-1600: #5f5f00;
    --color-primary-1700: #545500;
    --color-primary-1800: #4a4b00;
    --color-primary-1900: #404100;
    --color-primary-2000: #373800;
    --color-primary-2100: #2d2f00;
    --color-primary-2200: #242600;
    --color-primary-2300: #1c1d00;
    --color-primary-2400: #131500;
    --color-primary-2500: #0b0d00;
    --color-primary-2600: #050600;
    --color-primary-2700: #020202;
}